@import "../../assets/colors.scss";

.pagesContainerWrapper {
    background-color: $black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.mainWrapper {
    flex: 1 1 auto;
    display: flex;
    height: 100%;
}

.sidebarWrapper {
    flex: 0 0 368px;
}

.outletWrapper {
    flex: 1 1 auto;
    height: 100%;
}