@import "../../colors.scss";

.burgerMenu {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $white;
    cursor: pointer;
    padding: 0 70px 0 40px;
    width: 247px;
    justify-content: space-between;
}

.linlWrapper {
    margin: 0 0 0 20px;
    flex: 1 1 auto;
}

.iconWrapper {
    width: 10px;
}