@import "../../assets/colors.scss";

.pageContanier {
    background: url("../../assets/images/backgroundImage.jpg");
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logoContanier {
    margin: 48px 0 0 62px;
    height: 88px;
}

.formWrapper {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContanier {
    background-color: $dark;
    padding: 40px;
    border-radius: 10px;
    width: 574px;
    color: $white;
}

.formContanierLight {
    color: $dark;
    background-color: $white;
}

.footerContanier {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 44px;
    margin-top: 40px;
    color: $white;
    text-align: center;
}