@import "../../colors.scss";

.emtyStateWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 326px;
    padding-top: 15%;
    margin: 0 auto;

}

.lightContainer {

    .description {}
}

.description {
    font-size: 20px;
    color: $secondary;
    ;
    margin-top: 32px;
}