@import "../../../assets/colors.scss";

.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 152px;
    flex: 0 0 152px;
}

.logoWrapper {
    flex: 0 0 24%;
}

.inputWrapper {
    flex: 1 1 auto;
    width: 100%;
    position: relative;
}

.filterIcon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    cursor: pointer;
    z-index: 1;
}